.home-about {
    position: relative;
    width: 100%;
    overflow: hidden; 
    margin-top: -10%; 
    z-index: 10;
    height: auto; 
    padding-bottom: 50px; 
}

.home-about-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: white;
    z-index: 1;
    background-color: rgb(9, 23, 65);
    /* clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);  */
}

.home-about-title {
    height: 60px;
    width: 200px;
    text-align: right;
    padding: 10px;
    font-family: technovate;
    font-weight: 800;
    font-size: 20px;
    color: white;
    background:linear-gradient(90deg, rgba(142, 30, 47, 0.81) 0%, rgba(244, 51, 81, 0.81) 39%);; /* Title background for contrast */
    position: absolute; 
    right: 0;
    margin-right: 20px;
    z-index: 3; 
}

.home-about-spiderman{
    position: relative;
    left: 0;
    height: 100%;
    z-index: 4;
}


.home-about-spiderman img{
    position: relative;
    left: 0;
    height: 800px;
    z-index: 14;
}

.home-about-text {
    position: absolute;
    top:120px;
    right: 10px;
    max-width: 60%;
    font-family: technovate; 
    font-size: 18px;
    line-height: 1.6; 
    color: white;
    margin-right: 10px;
    z-index: 10;
    text-align: right;
    margin-top: 120px;
}

@media (max-width:920px) {
    .home-about-spiderman img{
        height: 500px;
    }
}


@media (max-width:1200px) and (max-height:1400px) {
    .home-about-spiderman img{
        height: 600px;
    }
}

@media (max-width:680px) {
    .home-about-spiderman img{
        height: 300px;
    }

    .home-about-text{
        position: relative;
        margin-top: 50px;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 90%; 
        padding: 20px;
        font-family: technovate; 
        font-size: 15px;
        line-height: 1.6;
        color: white;
        z-index: 10;
        text-align: center;
    }

    /* .home-about{
        min-height: 100svh; 
    } */
/* 
    .home-about-text{
        margin-top: 160px;
    } */
}

