.custom-scrollbar-horizontal {
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #ff1515 transparent;
}

.custom-scrollbar-horizontal::-webkit-scrollbar {
  height: 8px;
}

.custom-scrollbar-horizontal::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.custom-scrollbar-horizontal::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  transition: all 0.3s ease;
}

.custom-scrollbar-horizontal::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  transition: all 0.3s ease;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}

.MuiDrawer-paper {
  overflow-y: overlay !important;
}

.MuiDrawer-paper::-webkit-scrollbar {
  width: 8px;
}

.MuiDrawer-paper::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.MuiDrawer-paper::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  transition: all 0.3s ease;
}

.MuiDrawer-paper::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}
