.hero-section {
  position: relative;
  background: url('../../../assets/Images/Bg/home_bg.png') no-repeat center center;
  background-size: cover;
  height: 110svh;
  width: 100%;
  background-attachment: fixed;
}

.home-hero-section {
  display: flex;
  justify-content: right;
  height: 100%;
  mix-blend-mode: plus-lighter;
}

.hero-section-text-box {
  font-family: technovate;
  position: absolute;
  top: 55%;
  right: 60px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 40px;
  font-weight: 700;
  opacity: 0; /* Start with hidden */
  transform: translateY(50px); /* Start with offset */
}

.hero-section-text {
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.hero-section-text span {
  text-align: right;
}

.coming-soon-text {
  position: relative;
  right: 0;
  font-size: 20px;
}

@media (max-width: 720px) {
  .hero-section-text-box {
    right: 10px;
    font-size: 25px;
  }

  .coming-soon-text {
    font-size: 15px;
  }
}

@media (max-width: 370px) {
  .hero-section-text-box {
    right: 10px;
    font-size: 20px;
  }

  .coming-soon-text {
    font-size: 15px;
  }
}

